//COLORS
$color-Light-green: #7dd6f6;
$color-Medium-green: #1aa7ec;
$color-Dark-green: #1e2f97;

$color-Dark-grey: #777;
$color-Dark-grey-2: #999;
$color-light-grey: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

$color-secondary-Light: #ea4c46;
$color-secondary-dark: #ff7730;

$color-tertiary-Light: #9be931;
$color-tertiary-dark: #3aa346;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;
